@model EmployeeViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="post" asp-action="Edit">

    <input type="hidden" asp-for="Employee.Id" />

    <div class="form-group">
        <label asp-for="Employee.FirstName"></label>
        <input asp-for="Employee.FirstName" class="form-control" placeholder="First Name">
        <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Employee.LastName"></label>
        <input asp-for="Employee.LastName" class="form-control" placeholder="Last Name">
        <span asp-validation-for="Employee.LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Employee.Email"></label>
        <input asp-for="Employee.Email" class="form-control" placeholder="Email Address">
        <span asp-validation-for="Employee.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Employee.Image">ImageUrl</label>
        <input asp-for="Employee.Image" class="form-control" placeholder="Image Url">
        <span asp-validation-for="Employee.Image" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Employee.HireDate"></label>
        <input asp-for="Employee.HireDate" id="datepicker" class="form-control" type="text" placeholder="Hire Date">
        <span asp-validation-for="Employee.HireDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Employee.PositionId">Position</label>
        <select asp-for="Employee.PositionId" class="form-control" placeholder="Employee Position"
                asp-items="@(new SelectList(Model.Positions, "Id", "Name"))">
        </select>
        <span asp-validation-for="Employee.PositionId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Employee.UniversityId">University</label>
        <select asp-for="Employee.UniversityId"
                asp-items="@(new SelectList(Model.Universities, "Id", "Name"))"
                class="form-control">
        </select>
        <span asp-validation-for="Employee.UniversityId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>

@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: "dd/mm/yy"
            });
        });
    </script>
}

