@model StudentMajor
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete Student's Major";
}



<form method="post" asp-action="Delete">

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Student.FullName"></label>
        <input asp-for="Student.FullName" class="form-control" type="text" placeholder="Student" readonly>
        <span asp-validation-for="Student.FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Major.Name"></label>
        <input asp-for="Major.Name" class="form-control" type="text" placeholder="Student" readonly>
        <span asp-validation-for="Major.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EnrollmentDate"></label>
        <input asp-for="EnrollmentDate" class="form-control" placeholder="Enrollment Date" readonly>
        <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GraduationDate"></label>
        <input asp-for="GraduationDate" class="form-control" placeholder="Graduation Date" readonly>
        <span asp-validation-for="GraduationDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StudentStatus"></label>
        <input asp-for="StudentStatus" class="form-control" placeholder="Student's Status'" readonly>
        <span asp-validation-for="StudentStatus" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>