@model SubjectViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create new Subject";
}

<form method="post" asp-action="Create">

    <div class="form-group">
        <label asp-for="Subject.Name"></label>
        <input asp-for="Subject.Name" class="form-control" placeholder="Name">
        <span asp-validation-for="Subject.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Subject.Description"></label>
        <input asp-for="Subject.Description" class="form-control" placeholder="Description">
        <span asp-validation-for="Subject.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Subject.MajorId">Major</label>
        <select asp-for="Subject.MajorId" class="form-control" placeholder="Major"
                asp-items="@(new SelectList(Model.Majors, "Id", "Name"))">
                <option value="">Select Major</option>
        </select>
        <span asp-validation-for="Subject.MajorId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Subject.EmployeeId">Employee</label>
        <select asp-for="Subject.EmployeeId" class="form-control" placeholder="Employee"
                asp-items="@(new SelectList(Model.Employees, "Id", "FullName"))">
                <option value="">Select Employee</option>
        </select>
        <span asp-validation-for="Subject.EmployeeId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>
