@model Subject
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Subjects";
}

<div class="container">

    <h1 class="my-4">@Model.Name</h1>

    <div class="row">

        <div class="col-md-4">
            <h3 class="my-3">Informations:</h3>

            <ul>
                <li>ID: @Model.Id</li>
                <li>Lecturer: @Model.Employee?.FullName</li>
                <li>Major: @Model.Major?.Name</li>
            </ul>
        </div>

    </div>
</div>

