@model IEnumerable<Subject>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Subjects";
}

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @foreach (Subject subject in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text">@subject.Name</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Subject" asp-action="Details" asp-route-id="@subject.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                    <a asp-controller="Subject" asp-action="Edit" asp-route-id="@subject.Id" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                </div>
                                <small class="text-muted">@subject.Id</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
